.about {
    width: 100%;

    .navBox {
        position: fixed;
        top: 0;
        bottom: 0;
        margin: auto 0;
        left: 2vw;
        height: 10vw;
        z-index: 30;

        @include tablet() {
            display: flex;
            position: static;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 5vw 0;
        }

        li {
            position: relative;
            cursor: pointer;

            p {
                color: #6A6A6B;
                font-size: pxConvertor(20);
                letter-spacing: 0.15em;
                transition: 0.3s;
                pointer-events: none;

                @include tablet() {
                    font-size: var(--ch_m_text);
                    font-weight: 600;
                    color: #000;
                    margin-bottom: 0.2vw;
                }

                span {
                    font-size: pxConvertor(16);
                    font-family: 'Cormorant Garamond', serif;
                    letter-spacing: 0;

                    @include tablet() {
                        display: none;
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 1.2vw;

                @include tablet() {
                    margin-bottom: 0;
                    margin-right: 5vw;
                }

                &::after {
                    @include tablet() {
                        display: block;
                        position: absolute;
                        content: "";
                        top: 0;
                        bottom: 0;
                        margin: auto 0;
                        right: -2.5vw;
                        width: 1px;
                        height: 60%;
                        background-color: #000;
                    }
                }
            }


        }

        .active {
            p {
                color: #6B8786;
            }
        }
    }

    .contentBox {
        width: 100%;
        position: relative;
        overflow: hidden;

        >div {
            position: absolute;
            display: flex;
            justify-content: center;
            width: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            transition: 0.3s;
        }

        .brand {


            img {
                width: 85%;
            }
        }

        .concept {
            img {
                width: 100%;
            }
        }

        .vision {
            img {
                width: 100%;
            }
        }

        .active {
            opacity: 1;
        }
    }
}