.news {
    width: 100%;

    .first-page {
        position: relative;
        width: 100%;
        height: 50.5vw;
        margin-top: 2vw;

        .titleBox {
            position: absolute;
            top: pxConvertor(373);
            left: pxConvertor(265);

            width: fit-content;

            p {
                font-size: var(--ch_mml_text);
                letter-spacing: 0.1em;
                font-weight: 600;
            }
        }

        &-bg {
            position: relative;
            width: 100%;
            height: 100%;

            .imgBox {
                position: absolute;
                width: pxConvertor(292);
                height: pxConverotor(436);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &:nth-child(1) {
                    left: pxConvertor(966);
                    top: pxConvertor(195);
                }

                &:nth-child(2) {
                    left: pxConvertor(1284);
                    top: pxConvertor(275);
                }
            }

            .gradient-square {

                .box {
                    &:nth-child(1) {
                        width: pxConvertor(122);
                        height: pxConvertor(235);
                        top: pxConvertor(364);
                        left: pxConvertor(10);


                    }

                    &:nth-child(2) {
                        width: pxConvertor(237.25);
                        height: pxConvertor(457);
                        top: pxConvertor(211);
                        left: pxConvertor(76);
                    }

                    &:nth-child(3) {
                        width: pxConvertor(90.33);
                        height: pxConvertor(174);
                        top: pxConvertor(579);
                        left: pxConvertor(561);
                    }

                    &:nth-child(4) {
                        width: pxConvertor(90.33);
                        height: pxConvertor(174);
                        top: pxConvertor(624);
                        left: pxConvertor(614);
                    }

                    &:nth-child(5) {
                        width: pxConvertor(114.33);
                        height: pxConvertor(220.23);
                        top: pxConvertor(661);
                        left: pxConvertor(1716);
                    }
                }
            }
        }
    }

    .second-page {
        position: relative;
        width: 100%;

        ul {
            position: relative;
            z-index: 2;
            width: 56.6%;
            margin: 0 auto;

            li {
                width: 100%;
                margin-bottom: 10vw;

                .imgBox {
                    width: 100%;

                    img {
                        width: 100%;
                        height: 22.4vw;
                        object-fit: cover;
                    }
                }

                .paraBox {
                    position: relative;
                    width: 95%;
                    margin: 0 auto;
                    margin-top: 1vw;

                    .date {
                        font-size: pxConvertor(20);
                        font-family: 'Cormorant Garamond', serif;
                        letter-spacing: 0.1em;
                        color: #333333;
                        opacity: 0.8;
                    }

                    .title {
                        font-size: var(--ch_m_text);
                        font-weight: 700;
                        letter-spacing: 0.1em;
                        margin: 0.3vw 0 1.5vw;
                        color: #333333;
                    }

                    .para {
                        width: pxConvertor(768);
                        @include para();
                        opacity: 0.6;
                    }

                    .more {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        overflow: hidden;
                        padding-top: 1vw;
                        cursor: pointer;

                        p {
                            font-size: var(--ch_xs_text);
                            letter-spacing: 0.15em;
                            color: #333333;
                            transition: transform 0.5s;
                        }

                        &::after {
                            display: block;
                            content: "";
                            position: absolute;
                            left: 20%;
                            top: 0.5vw;
                            width: 80%;
                            height: 1px;
                            background-color: rgba(0, 0, 0, 0.5);
                            transition: 0.5s;
                        }

                        &::before {
                            display: block;
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 0.5vw;
                            width: 0%;
                            height: 1px;
                            background-color: rgba(0, 0, 0, 0.5);
                            transition: 0.5s;
                            transform-origin: right center;
                            transform: rotate(30deg);
                        }

                        &:hover {
                            p {
                                transform: translateY(100%);
                            }

                        }

                        &:hover::after {
                            top: 50%;

                        }

                        &:hover::before {
                            top: 50%;
                            width: 20%;
                        }
                    }
                }


            }
        }

        .gradient-square {
            position: absolute;
            z-index: 0;

            .box {
                &:nth-child(1) {
                    width: pxConvertor(98.12);
                    height: pxConvertor(189);
                    top: 15vw;
                    left: pxConvertor(0);


                }

                &:nth-child(2) {
                    width: pxConvertor(98.12);
                    height: pxConvertor(189);
                    top: 18vw;
                    left: pxConvertor(56);
                }

                &:nth-child(3) {
                    width: pxConvertor(101);
                    height: pxConvertor(194.55);
                    top: 40vw;
                    right: pxConvertor(24);
                }

                &:nth-child(4) {
                    width: pxConvertor(101);
                    height: pxConvertor(194.55);
                    top: 86.5vw;
                    left: pxConvertor(300);
                }
            }
        }
    }

}