.repair {
    width: 100%;

    .first-page {
        position: relative;
        width: 100%;
        height: 50.5vw;
        margin-top: 2vw;

        .titleBox {
            position: absolute;
            top: pxConvertor(373);
            left: pxConvertor(265);
            width: fit-content;

            >p {
                font-size: var(--ch_mml_text);
                letter-spacing: 0.1em;
                font-weight: 600;
            }

            .paraBox {
                margin-top: 1.5vw;

                .title {
                    font-size: pxConvertor(20);
                    color: #333;
                    opacity: 0.8;
                    letter-spacing: 0.1em;
                    font-weight: 500;
                    margin-bottom: 1vw;
                }

                .para {
                    @include para();
                    font-size: var(--ch_xs_text);
                    width: pxConvertor(415);
                    margin-bottom: 1vw;
                    color: #333;
                    opacity: 0.8;
                }

                .service-online {
                    font-size: var(--ch_s_text);
                    color: #333;
                    opacity: 0.8;
                    font-weight: 500;
                    letter-spacing: 0.1em;
                    margin-bottom: 0.5vw;

                    span {
                        font-size: pxConvertor(14);
                        font-weight: 400;
                    }
                }

                .service-time,
                .phone {
                    @include para();
                    font-size: var(--ch_xs_text);
                    width: pxConvertor(415);
                    color: #333;
                    opacity: 0.8;
                    line-height: 1.8;
                }
            }
        }

        &-bg {
            position: relative;
            width: 100%;
            height: 100%;

            .imgBox {
                position: absolute;
                width: pxConvertor(292);
                height: pxConverotor(436);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &:nth-child(1) {
                    left: pxConvertor(966);
                    top: pxConvertor(195);
                }

                &:nth-child(2) {
                    left: pxConvertor(1284);
                    top: pxConvertor(275);
                }
            }

            .gradient-square {

                .box {
                    &:nth-child(1) {
                        width: pxConvertor(122);
                        height: pxConvertor(235);
                        top: pxConvertor(364);
                        left: pxConvertor(10);


                    }

                    &:nth-child(2) {
                        width: pxConvertor(237.25);
                        height: pxConvertor(457);
                        top: pxConvertor(211);
                        left: pxConvertor(76);
                    }

                    &:nth-child(3) {
                        width: pxConvertor(90.33);
                        height: pxConvertor(174);
                        top: pxConvertor(579);
                        left: pxConvertor(561);
                    }

                    &:nth-child(4) {
                        width: pxConvertor(90.33);
                        height: pxConvertor(174);
                        top: pxConvertor(624);
                        left: pxConvertor(614);
                    }

                    &:nth-child(5) {
                        width: pxConvertor(114.33);
                        height: pxConvertor(220.23);
                        top: pxConvertor(661);
                        left: pxConvertor(1716);
                    }
                }
            }
        }
    }

    .second-page {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 52.5%;
        margin: 0 auto 7vw;

        >div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 36.5%;

            .titleBox {
                display: flex;
                margin-bottom: 1.2vw;

                img {
                    width: pxConvertor(22);
                    margin-right: 0.5vw;
                }

                h4 {
                    font-size: pxConvertor(24);
                    letter-spacing: 0.15em;
                    color: #333;
                    font-weight: 400;

                }
            }

            .paraBox {
                p {
                    position: relative;
                    font-size: pxConvertor(20);
                    color: #333;
                    letter-spacing: 0.15em;
                    line-height: 1.6;

                    &:not(:last-child) {
                        margin-bottom: 0.8vw;
                    }

                    &::after {
                        display: block;
                        content: "";
                        position: absolute;
                        left: -0.8vw;
                        top: 0.8em;
                        width: 0.2vw;
                        height: 0.2vw;
                        border-radius: 50%;
                        background-color: #333;
                        opacity: 0.8;
                    }
                }
            }
        }

        &::after {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 1.5px;
            height: 115%;
            background-color: #333;
            opacity: 0.15;
        }
    }

    .third-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 6.5vw;

        .title {
            font-size: pxConvertor(24);
            letter-spacing: 0.15em;
            color: #333;
            font-weight: 600;
            margin-bottom: 5vw;
        }

        img {
            width: 65%;
            height: auto;
        }

    }
}