@import "_config";
@import "_index";
@import "_news";
@import "_newsInner";
@import "_service";
@import "_portfolio";
@import "_project";
@import "_projectInner";
@import "_about";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Serif TC', serif;
}

body {
    background-image: url("../../img/index/webp/index-bg.webp");
    background-repeat: repeat;
    background-size: 100% 100%;
    width: 100%;

    @include tablet() {
        background-image: url("../../img/index/webp/index-bg-ph.jpg");
    }
}

/* 滾動條樣式 */
::-webkit-scrollbar {
    display: none;
}



@keyframes circle-draw {
    0% {
        stroke-dashoffset: 2000;
    }

    100% {
        stroke-dashoffset: 1795;
    }
}